{% block content %}



{# --- On récupère les entrées comme vous le faisiez --- #}
{% set genstag = craft.entries()
    .section('genstag')
    .tagg(tagg.id)
    .limit(22)
    .orderBy('dateCreated DESC')
    .all() %}



{# On garde le même début pour trier la liste chronologiquement #}
{% set currentHour = now|date('G', 'Europe/Paris') %}
{% set upcomingItems = [] %}
{% set pastItems = [] %}

{% for item in genstag %}
    {% set itemHour = item.dt|date('G') %}
    {% if itemHour >= currentHour %}
        {% set upcomingItems = upcomingItems|merge([item]) %}
    {% else %}
        {% set pastItems = pastItems|merge([item]) %}
    {% endif %}
{% endfor %}

{% set upcomingItems = upcomingItems|sort((a, b) => a.dt <=> b.dt) %}
{% set pastItems = pastItems|sort((a, b) => a.dt <=> b.dt) %}
{% set sortedAgenda = upcomingItems|merge(pastItems) %}

{# NOUVELLE PARTIE : On groupe les items triés par heure #}
{% set groupedAgenda = sortedAgenda|group(item => item.dt|date('H')) %}


{# --- AFFICHAGE REGROUPÉ --- #}
{# On boucle sur les heures (les clés du groupe) #}
{% for hour, itemsInHour in groupedAgenda %}
    {# On affiche l'heure une seule fois #}
    <a href="h/{{ hour }}"><h3 class="btn btn-outline-secondary">{{ hour }}h </h3></a>
    
    <div>
        {# Puis on boucle sur les items de cette heure #}
        {% for item in itemsInHour %}
            {% set vers = craft.entries()
                .section('vertag')
                .limit(3)
                .tagg(item.tagg[0].id)
                .genstag(item.id)
                .orderBy('dateCreated DESC')
                .all() %}


            {% if vers %}
                <div class="card card-body">
                    <a><h2 class="btn btn-outline-secondary" style="border-radius:100px;">{{ item.gens[0].title }}</h2><span>  "{{ item.title }}"</span> </a>
                                   
                    {# <div class="card card-body">
                        <span><small>Objectif de {{hour}}h : </small></span>
                        <h3>{{ item.tagg[0].title }}<a href="/o/{{ item.tagg[0].id }}"><button class="btn btn-outline-secondary m-1">VOIR</button></h3></a>
                        <small>{{ item.title }}</small>                 
                    </div> #}

                    <br>
                    {% include "debout/tag/multiVers.twig" with {
                            tag: item,
                            user: user
                        } %}   
                </div>
                <br>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}