{% block content %}

{% if user is not defined %}
    {% set user = craft.entries().id(257).one() %}
{% endif %}


{% set latestdesc = craft.entries()
.section('desc')
.relatedTo({
    targetElement: obj.id,
    field: 'universel'
})
.orderBy('dateCreated DESC')
.limit(9)
.all() %}

<div class="card card-body border-primary m-3" style="max-height: 66%;overflow: auto;    min-height: 327px;">

    <div>
        <p class="card-text mb-0">Commentaires : {{obj.title}}</p>
        <small class="text-muted">
            {% if obj.sectionId == 12 %}
                    <span>Agenda<span>
                        {% elseif obj.sectionId == 7 %}
                            <span>Club<span>
                        {% elseif obj.sectionId == 15 %}
                            <span>Activité<span>
                        {% elseif obj.sectionId == 8 %}
                            <span>Articles<span>
                        {% elseif obj.sectionId == 13 %}
                            <span>Invitation<span>
                        {% endif %}
                    </small>                    
        <p class="card-text mb-0">
            <small class="text-muted">
                {% if latestdesc|length == 0 %}
                    Aucun commentaire trouvé.
                {% else %}
                    {{ latestdesc|length }} commentaire(s) trouvé(s).
                {% endif %}
            </small>
        </p>
    </div>

    <hr style="width:44%">

    <form method="post" id="desc-form-{{obj.id}}" class="add-action-form m-3" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ csrfInput() }}
        {{ actionInput('guest-entries/save') }}
        {{ hiddenInput('sectionId', 16) }} {# Assurez-vous que 7 est le bon ID de section #}
        {{ hiddenInput('enabled', '1') }}
        {# Assurez-vous que 'mom' est disponible et a un 'id' #}
        <input type="hidden" name="fields[gens][]" value="{{ user.id }}" required>
        <input type="hidden" name="fields[universel][]" value="{{ obj.id }}" required>
        
        <input type="text" name="title" class="form-control" placeholder="Ajouter un commentaire" required> {# Champ texte pour l'inscription #}
        {# Bouton plus petit (btn-sm) et pleine largeur (w-100) pour un accès facile sur mobile #}
        <button type="submit" class="btn btn-dark btn-sm w-100 mt-2">Ajouter</button>
    </form>

    {% for d in latestdesc %}
        <hr style="width:44%">
        <div class="card-body">
            <div class="btn btn-outline-secondary">{{d.gens[0].title}}</div>
            <div class="btn">{{d.title}}</div>
            <br>
            <small class="text-muted">
                {{ d.dateCreated|date('d/m/Y H:i') }}
            </small>
        </div>
    {% endfor %}
</div>

{% endblock %}