{% block content %}









{# //////////////////////////////////////// #}












{% set vers = craft.entries()
    .section('version')
    .tagg(tag.tagg[0].id)
    .limit(11)
    .orderBy('dateCreated DESC')
    .all() %}

{# <pre>
    {{ dump(vers[0].id) }}
</pre> #}



{# //// #}

{% if not reuz %}

{% for item in vers %}
    {% set vertag = craft.entries()
        .section('vertag')
        .limit(3)
        .version(item.id)
        .genstag(tag.id)
        .orderBy('dateCreated DESC')
        .one() %}
    {% set vers = vers|filter(v => v.id != vertag.version[0].id) %}
{% endfor %}

{% endif %}



{% if vers is defined and vers|length %}
    <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ csrfInput() }}
        {{ actionInput('guest-entries/save') }}
        {{ hiddenInput('sectionId', 13) }}
        
        {# Champ caché pour lier l'entrée à l'utilisateur actuel #}
        {% if user is defined and user %}
            {{ hiddenInput('fields[gens][]', user.id) }}
        {% endif %}

        {# 1. Champ de sélection pour les TAGS #}
        {# Champ de sélection pour les TAGS sous forme de boutons #}
        <div class="">
            {# <label class="form-label">Choisissez un Travail :</label> #}
            <div class="">
                <button onclick="addoneVersion({{ tag.tagg[0].id }})" class="btn btn-outline-danger">
                    + Ajoutez un travail
                </button>

                
                {% for ver in vers %}
                    {# 
                    Chaque "bouton" est une paire d'un input radio caché 
                    et d'un label stylisé en bouton.
                    #}
                    <input 
                        type="radio" 
                        class="btn-check" 
                        name="fields[version][]" 
                        id="tag{{tag}}-{{ ver.id }}" 
                        value="{{ ver.id }}"
                        autocomplete="off"
                        required
                        data-title="{{ ver.title|e('html_attr') }}"
                    >
                    <label class="btn btn-outline-secondary" for="tag{{tag}}-{{ ver.id }}">{{ ver.title }}</label>
                {% endfor %}

                | <button type="submit" class="btn btn-danger">Ajouter</button>
            </div>
        </div>

        {# 2. Champ pour le TITRE #}
            <input id="genstag" type="hidden" name="fields[genstag][]" class="form-control" required value="{{ tag.id }}">
            <input id="title" type="hidden" name="title" class="form-control" required value="version">
            <input id="obj" type="hidden" name="fields[tagg][]" class="form-control" required value="{{ tag.tagg[0].id }}">

        {# 3. Champ pour l'HEURE #}
        {# <div class="mb-3">
            <label for="horaire-select" class="form-label">Horaire d'Effort Récurrent :</label>
            <select id="horaire-select" name="fields[dt]" class="form-select" required>
                {% set startHour = now|date('G', 'Europe/Paris') %}
                {% for i in 0..23 %}
                    {% set currentHour = (startHour + i) % 24 %}
                    {% set hourString = currentHour|format('%02d') %}
                    <option value="{{ hourString }}:00">{{ hourString }}h</option>
                {% endfor %}
            </select>
        </div> #}

    </form>
{% else %}
    {# <p>Aucun Travail n'est disponible pour le moment.</p> #}
    {# <br> #}
    <button onclick="addoneVersion({{ tag.tagg[0].id }})" class="btn btn-outline-danger">
        + Ajoutez un travail
    </button>
{% endif %}

{% endblock %}