{% block content %}
 <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
    {{ csrfInput() }}
    {{ actionInput('guest-entries/save') }}
    {{ hiddenInput('sectionId', 10) }} 
    {{ hiddenInput('enabled', '1') }}

    <div class="mb-3">
        <input id="" type="text" name="title" class="form-control" required>
    </div>

    <input id="" type="hidden" name="fields[tagg][]" class="form-control" required value="{{ tag.id }}">
    <input id="" type="hidden" name="fields[gens][]" class="form-control" required value="{{ user.id }}">

    {# {% set startHour = now|date('Y-m-d H:i', 'Europe/Paris') %}
    <input id="" type="hidden" name="fields[dt][]" class="form-control" required value="{{ startHour }}"> #}

    <button type="submit" class="btn btn-primary btn-lg d-inline-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-2" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
        {% set startHour = now|date('d M', 'Europe/Paris') %}

        Ajouter la version du {{ startHour }}
    </button>
</form>
{% endblock %}