{% block content %}



{% set vertag = craft.entries()
    .section('vertag')
    .genstag(genstag.id)
    .orderBy('dateCreated DESC')
    .all() %}

{% set vali = [] %}
{% for item in vertag %}
    {% set vali = vali|merge(craft.entries()
    .section('valide')
    .vertag(item.id)
    .orderBy('dateCreated DESC')
    .all()) %}
    {# <pre>
        {{ dump(vali) }}
    </pre> #}
{% endfor %}

{% set vali = vali|sort((a, b) => b.dateCreated <=> a.dateCreated)|slice(0, 3) %}


{% if vali %}
    <div>

        <span><small>3 Dernieres Etapes Terminé :</small></span>
        <br>
        {% for item in vali|sort((a, b) => b.dateCreated <=> a.dateCreated) %}
            <br>
            <div style="border-left: solid; padding: 5px;">
                <span>Validé le : {{item.dateCreated|date('d M', 'Europe/Paris')}} a {{item.dateCreated|date('G', 'Europe/Paris')}}h</span>
                <div class="card card-body">
                    <span>{{item.title|capitalize }}<small> par {{item.gens[0].title}}</small></span>
                </div>
                {% include "debout/get/ALL.twig" with {
                    obj:item.obj[0],
                    vertag:vertag,
                    opengu:false,
                    left:true
                } %}
            </div>
            {# {% endif %} #}
        {% endfor %}
    </div>
{% endif %}








{% endblock %}