{# //////////////////// #}
{# Si l'utilisateur est connecté, récupérer ses informations #}
{% set emailDepuisCookie = craft.app.session.get('loggedInGensId') %}

{# Vérifier si l'utilisateur est connecté #}
{% if emailDepuisCookie is not null %}
    {% set user = craft.entries().id(emailDepuisCookie).one() %}
{# {% else %}
    {% set user = craft.entries().id(257).one() %} #}
{% endif %}
{# ///////////////////// #}



{% block content %}

{% include "debout/gens/menu.twig" %}

<div class="container mt-4">
{% if user %}
    {% if craft.app.request.getSegment(2) %}
        {% set id = craft.app.request.getSegment(2) %}
    {% else %}
        {% set id = 999999999 %}
    {% endif %}

    {% set g = craft.entries()
    .section('groupe')
    .id(id)
    .one() %}

    {% set invited = craft.entries()
        .section('groupeinvitated')
        .groupe(g.id)
        .gens(user.id)
        .one() %}

    {% if g and invited %}

        {% include "debout/gens/present.twig" with {
            'user': g
        } %}   

        {% include "debout/groupe/invitedlist.twig" with {
            "g": g,
            "user": user
        } %}
        {% include "debout/get/conv.twig" with {
            'obj': g
        } %}

        <br><br>

        <small>Agenda:<br><br></small>
        {% include "debout/accueil/listTag.twig" with {
            'user': g
        } %}

        <br><br><br>

        {% include "debout/accueil/createTag.twig" with {
            'user': g
        } %}

        <br>
    {% else %}
        <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            {{ csrfInput() }}
            {{ actionInput('guest-entries/save') }}
            {{ hiddenInput('sectionId', 20) }} 
            {{ hiddenInput('enabled', '1') }}
            {{ redirectInput("/g") }}
            

            <div class="mb-3">
                <input id="title11" type="text" name="title" class="form-control" required>
            </div>

            <div class="mb-3">
                <input id="obj11111" type="hidden" name="fields[admin][]" class="form-control" required value="{{ user.id }}">
            </div>

            <button type="submit" class="btn btn-primary btn-lg d-inline-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-2" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
                Creer le groupe de travail.
            </button>
        </form>
    
    {% endif %}
{% else %}
    <a href="/gens" style="position:fixed;left:50vw;top: 45vh;transform: translateY(-50%);transform: translateX(-50%);"><button class="btn btn-outline-danger" style="font-size: xx-large;"><ahahah>Connectez vous donc ?<ahahah></button></a>
{% endif %}
</div>


{% endblock %}