{% block content %}



{% set g = craft.entries()
    .section('groupe')
    .id(g.id)
    .admin(admin.id)
    .one() %}

{% if g %}
<div class="card card-body">
     <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ csrfInput() }}
        {{ actionInput('guest-entries/save') }}
        {{ hiddenInput('sectionId', 21) }} 
        {{ hiddenInput('enabled', '1') }}

        <div class="mb-3">
            <label for="title11" class="form-label">Message d'invitation :</label>
            <input id="title11" type="text" name="title" class="form-control" required>
            <input id="bnerivf" type="hidden" name="fields[groupe][]" class="form-control" value="{{ g.id }}" required>
        </div>

        {# 1. Champ de sélection pour les TAGS #}
        {# Champ de sélection pour les TAGS sous forme de boutons #}
        {% set idsAExclure = [admin.id] %}
        {% set invited = craft.entries
            .section("groupeinvitated")
            .groupe(g.id)
            .orderBy("dateCreated DESC")
            .all() %}
        {% set idmembres = invited|map(item => item.gens[0].id()) %}
        {% set idsAExclure = idsAExclure|merge(idmembres) %}

        {% set personnesAInviter = craft.entries()
            .section('gens')
            .id(['not']|merge(idsAExclure))
            .limit(99)
            .orderBy('random()')
            .all() 
        %}


        <div class="mb-3">
            <label class="form-label">Choisissez votre pretendant :</label>
            <div class="d-flex flex-wrap gap-2">
                {% for personne in personnesAInviter %}
                    {# 
                    Chaque "bouton" est une paire d'un input radio caché 
                    et d'un label stylisé en bouton.
                    #}
                    <input 
                        type="radio" 
                        class="btn-check" 
                        name="fields[gens][]" 
                        id="tag-{{ personne.id }}" 
                        value="{{ personne.id }}"
                        autocomplete="off"
                        required
                        data-title="{{ personne.title|e('html_attr') }}"
                    >
                    <label class="btn btn-outline-primary" for="tag-{{ personne.id }}">{{ personne.title }}</label>
                {% endfor %}
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg d-inline-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-2" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
            Ajoutez l'utilisateuw :
        </button>
    </form>
</div>
{% endif %}



{% endblock %}