{% block content %}

{% if obj %}
<div style="text-align: center;">
    {% if public %}
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample-{{obj.id}}" aria-expanded="false" aria-controls="collapseExample-{{obj.id}}">
            Ressources PUBLICS
        </button>
    {% else %}
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample-{{obj.id}}" aria-expanded="false" aria-controls="collapseExample-{{obj.id}}">
            Ressources PRIVEES
        </button>
    {% endif %}


    <div class="card card-body collapse" id="collapseExample-{{ obj.id }}">
        {% include "debout/lien/lien.twig" with {
            'obj': obj
        } %}
        <hr>
        {% include "debout/lien/createlien.twig" with {
            'obj': obj,
            'user': user
        } %}
    </div>
</div>
{% endif %}
{% endblock %}