{% block content %}

{% if obj %}
{# <div style="text-align: right;"> #}
    {% if public %}
        <button class="btn btn-secondary btn-sm m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample-{{obj.id}}" aria-expanded="false" aria-controls="collapseExample-{{obj.id}}">
            Ressources PUBLICS {% if ajd %}d'aujourd'hui{% endif %}
        </button>
    {% else %}
        <button class="btn btn-secondary btn-sm m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample-{{obj.id}}" aria-expanded="false" aria-controls="collapseExample-{{obj.id}}">
            Ressources PRIVEES
        </button>
    {% endif %}


    <div class="card card-body collapse" id="collapseExample-{{ obj.id }}" style="background-color: #00000017;">
        {% include "debout/lien/lien.twig" with {
            'obj': obj,
            'ajd':ajd
        } %}
        <hr>
        {% include "debout/lien/createlien.twig" with {
            'obj': obj,
            'user': user
        } %}
    </div>
{# </div> #}
{% endif %}
{% endblock %}