{% block content %}
{% if left %}
    <div style="padding:5px;">
{% else %}
    <div style="place-self: end; text-align:right; border-right: outset; border-radius:15px; padding:5px;">
{% endif %}

{# <div style="place-self: end; text-align:right; border-right: outset; border-radius:15px; padding:5px;"> #}
    <h6>{{obj.title|capitalize }}
        <span style="font-size: small; border-radius:100px;" class="">({{ obj.gens[0].title }})</span>
    </h6>

    {% include "debout/get/gettxt.twig" with {
        item:obj,
        opengu:opengu
    } %}
    {% include "debout/get/getimg.twig" with {
        item:obj,
        opengu:opengu
    } %}


    {# <hr style="border-block-color:rgb(0 20 255);"> #}
    {% if opengu %}
    <div style="place-self: flex-end;" class="m-2">
        {# <span>
            <div class="btn btn-outline-secondary">{{user.title}}</div> |  
        </span> #}

        <button onclick="addoneimg({{obj.id}})" class="btn btn-outline-danger btn-sm" >
            + Image
        </button>
        <button onclick="addonetxt({{obj.id}})" class="btn btn-outline-danger btn-sm" >
            + Text
        </button>
        {% include "debout/vote/vote.twig" with {
            obj:obj,
            user:user
        } %}
        {% include "debout/lien/alllien.twig" with {
            'obj': obj,
            'user': user,
            "public":true,
        } %}

        
                    {# <span style="font-size: small; border-radius:100px;" class="">({{ texte.gens[0].title }})</span> #}

                

        <form method="post" accept-charset="UTF-8" enctype="multipart/form-data" style="display: inline-flex;">
            {{ csrfInput() }}
            {{ actionInput('guest-entries/save') }}
            {{ hiddenInput('sectionId', 19) }} 
            {{ hiddenInput('enabled', '1') }}

            <div class="mb-3">
                <input id="title11" type="hidden" name="title" class="form-control" required value="validation de {{obj.title}}">
            </div>

            <div class="mb-3">
                <input id="obj11111" type="hidden" name="fields[obj][]" class="form-control" required value="{{obj.id}}">
            </div>

            <div class="mb-3">
                <input id="user11" type="hidden" name="fields[gens][]" class="form-control" required value="{{ user.id }}">
            </div>

            <div class="mb-3">
                <input id="ver" type="hidden" name="fields[vertag][]" class="form-control" required value="{{ vertag.id }}">
            </div>

            <div class="input-group m-1">
                <input type="text" name="title" required class="form-control" placeholder="Compte Rendu Final :">
                <button type="submit" class="btn btn-danger">Validé!</button>
            </div>
        </form>
    </div>
    {% endif %}
</div>




{% endblock %}