{% block content %}


{% if obj and vertag and user %}



<form method="post" accept-charset="UTF-8" enctype="multipart/form-data" >
    {{ csrfInput() }}
    {{ actionInput('guest-entries/save') }}
    {{ hiddenInput('sectionId', 19) }} 
    {{ hiddenInput('enabled', '1') }}

    {# <div class="mb-3">
        <input id="title11" type="hidden" name="title" class="form-control" required value="validation de {{obj.title}}">
    </div> #}

    <div class="mb-3">
        <input id="obj11111" type="hidden" name="fields[obj][]" class="form-control" required value="{{obj.id}}">
    </div>

    <div class="mb-3">
        <input id="user11" type="hidden" name="fields[gens][]" class="form-control" required value="{{ user.id }}">
    </div>

    <div class="mb-3">
        <input id="ver" type="hidden" name="fields[vertag][]" class="form-control" required value="{{ vertag.id }}">
    </div>

    <div class="input-group m-1">
        <input type="text" name="title" required class="form-control" placeholder="Compte Rendu du {{ now|date('d M', 'Europe/Paris') }}">
        <button type="submit" class="btn btn-danger">Validé!</button>
    </div>
</form>



{% endif %}


{% set validate = craft.entries()
    .section('valide')
    .obj(obj.id)
    .vertag(vertag.id)
    .limit(3)
    .orderBy('dateCreated DESC')
    .all()
%}



{% if validate %}
    <div>
        <span><small>3 Derniers Rapports:</small></span>
        {% for item in validate %}
            <br>
            <div>
                <div class="card card-body">
                    <span>Validé le : {{item.dateCreated|date('d M', 'Europe/Paris')}} a {{item.dateCreated|date('G', 'Europe/Paris')}}h</span>
                    <span>{{item.title}}<small> par {{item.gens[0].title}}</small></span>
                </div>
                {# {% include "debout/get/ALL.twig" with {
                    obj:item.obj[0],
                    vertag:vertag,
                    opengu:false,
                    left:true
                } %} #}
            </div>
            {# {% endif %} #}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}