{% block content %}

{% include "samfr/gens/menu.twig" %}


{# //////////////////// #}
{# Si l'utilisateur est connecté, récupérer ses informations #}
{% set emailDepuisCookie = craft.app.session.get('loggedInGensId') %}

{# Vérifier si l'utilisateur est connecté #}
{% if emailDepuisCookie is not null %}
    {% set user = craft.entries().id(emailDepuisCookie).one() %}
{# {% else %}
    {% set user = craft.entries().id(257).one() %} #}
{% endif %}
{# ///////////////////// #}











{% if user %}

{#
  1. OPTIMISATION : On utilise .with(['versionmoment'])
  C'est ce qu'on appelle "Eager Loading". Craft va pré-charger toutes les entrées
  'versionmoment' associées en une seule requête supplémentaire, au lieu de faire
  une nouvelle requête pour chaque note dans la boucle plus tard.
  C'est le changement le plus important pour la performance.
#}
{% set t = craft.entries()
    .section('texte')
    .gens(user.id)
    .limit(99)
    .orderBy('dateCreated DESC')
    .all() %}

{# On s'assure qu'il y a des notes avant de continuer #}
{% if t %}

{% set groupedTextes = t|group('obj[0].id') %}

{% for obj, textes in groupedTextes %}
    <div class="card card-body m-2">
      {% set n = craft.entries()
        .section('note')
        .id(obj)
        .one() %}
        <p>{{ n.versionmoment[0].title }}</p>
        <p>V {{ n.dateCreated|date("d/m/Y") }}</p>
        <div>
            {% for texte in textes|reverse %}
                <p>{{ texte.title }}</p>
                {% if texte.img %}
                    {% set image = texte.img[0] %}
                    <img src="{{ image.getUrl({width: 120, height: 120, mode: 'crop'}) }}"
                         alt="{{ image.alt ?? image.title ?? texte.title }}"
                         class="img-fluid rounded-start"
                         style="object-fit: cover; height: 120px; width: 120px;">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}






{% endif %}


{% endif %}


{% endblock %}