 {% block content %}
 
 
 <div>

        {% set tousLesParametres = craft.app.request.getQueryParams() %}

        {% if tousLesParametres %}

            {% set arrayusew = [] %}
            {% for id, votes in tousLesParametres %}
                {% set arrayusew = arrayusew|merge([ craft.entries()
                .section('gens')
                .title(id)
                .orderBy('dateCreated ASC')
                .one()
                ])%}
            {% endfor %}
            {% set idAavoir = arrayusew|map(item => item.id) %}
        {% endif %}
            
        {% if idAavoir %}
            {% set txt = craft.entries()
            .section('texte')
            .obj(item)
            .gens(idAavoir)
            .orderBy('or ASC')
            .all() %}
        {% else %}
            {% set txt = craft.entries()
            .section('texte')
            .obj(item)
            .orderBy('or ASC')
            .all() %}
        {% endif %}
        

        






        {% if txt %}
            {# {% include "debout/get/selec.twig" with {
                txts:txt
            } %} #}

            {# <hr> #}
           {% for t in txt %}
                <span>
                    {# This button appears ONLY before the first item #}
                    {% if loop.first %}
                        <button style="display:flow;" onclick="addonetxtOR({{item}}, {{t.or}}, 'pre')" class="btn btn-outline-danger m-2">
                            +
                        </button>
                    {% endif %}

                    <span class="btn-outline-secondary">
                        {# <div style="place-self: self-end;"> #}
                            {# <b>{{ t.title }}</b> #}
                            {# <span style="font-size: xx-small; border-radius:100px;" class="btn btn-outline-secondary">{{ t.gens[0].title }}</span> #}
                        {# </div> #}
                        <div>
                            {# <span class="btn btn-outlined-secondary">{{ t.gens[0].title }}</span> |  #}
                            <span>
                                {% include "debout/get/ALL.twig" with {
                                    obj:t,
                                    user:user,
                                    opengu:true
                                } %}
                            </span>
                        </div>
                    </span>

                    <hr>
                    {# This button appears after EVERY item #}
                    <button style="display:flow;" onclick="addonetxtOR({{item}}, {{t.or}}, {% if not loop.last %}{% set nextItem = txt[loop.index0 + 1] %}{{ nextItem.or }}{% else %}'post'{% endif %})" class="btn btn-outline-danger m-2">
                        +
                    </button>
                </span>
            {% endfor %}
        {% else %}
            <button onclick="addonetxtOR({{item}},1000,'start')" class="btn btn-outline-danger" >
                + Text
            </button>
        {% endif %}




   </div>




   {% endblock %}