


{% block content %}



{% set v = craft.entries()
.section('versionmoment')
.limit(9)
.orderBy('dateCreated DESC')
.all() %}

{% for item in v %}
    {% if item %}
        {% set n = craft.entries()
            .section('note')
            .versionmoment(item.id)
            .with('gens')
            .all() %}
        {% set uniqueGensIds = n|column('gens.0.id')|filter(item => item)|unique %}

        {% if uniqueGensIds|length < 10 %}
            <div class="card card-body">
                <a href="/moment/{{ item.id }}"><p>{{ item.title }}</p></a>
                <p>{{ n|length }} notes ({{ uniqueGensIds|length }}/9 participants)</p>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
    {# {% if not v %} #}
    
    {# {% endif %} #}

{% set m = craft.entries()
.section('moment')
.limit(9)
.orderBy('dateCreated DESC')
.all() %}

{% for av in m %}
    <div class="card card-body">
        <p>{{ av.title }}</p>

        <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            {# Champ Titre #}
            <div class="mb-3">
                <input id="title" type="hidden" name="title" class="form-control" value="{{av.title}}" required>
            </div>
            {{ redirectInput('/moment') }}
            {{ csrfInput() }} {# Important pour la sécurité CSRF #}
            {{ actionInput('guest-entries/save') }} {# Action Craft pour sauvegarder #}
            {{ hiddenInput('sectionId', 6) }} {# ID de la section où sauvegarder #}
            <input id="user" type="hidden" name="fields[moment][]" class="form-control" value="{{ av.id }}" required>

            {# submit         #}

            <button type="submit" class="btn btn-primary">Crrer new salle</button>
        </form>
        
    
    </div>
{% endfor %}







{% endblock %}